
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap" rel="stylesheet">
</head>
<body>

<header class="title">
  <h2>{{title}}</h2> 
</header>

<section>
<img src="https://www.pngkit.com/png/detail/386-3866411_pink-world-map-free.png" alt="Pink World Map Free@pngkit.com">
<p>Welcom to my website! In this project I tested out 2 different country APIs. the first Api (Worldbank API) was created for a school project.
    While the second API (Rest country API), was created with a design from FrontEnd Mentor
</p>
</section>